<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

    <nav th:replace="fragments :: navbar"></nav>

    <section class="py-5">
        <div class="row justify-content-center">
            <h2 class="text-black fs-3 fw-bolder">Add Property with Deed Covenant</h2>
        </div>

        <div class="container my-5">
            <div class="row justify-content-center">

                <form method="post">
                    <div class="form-group">
                        <label>Please enter your admin username:
                            <input class="form-control" type="text" th:field="${deed.name}" th:value="${deed.name}">
                        </label>
                    </div>

                    <div class="form-group">
                        <label>Deed Address:
                            <input class="form-control" type="text" id="addressInput" th:field="${deed.address}" th:value="${deed.address}">
                        </label>
                    </div>

                    <div class="form-group">
                        <label>Restriction:
                            <!--                in order to make a drop down, do we need to create a enum?-->
                            <input class="form-control" type="text" th:field="${deed.restriction}" th:value="${deed.restriction}">
                        </label>
                    </div>

                    <div class="form-group">
                        <label>Date of Deed:
                            <input class="form-control" type="date" th:field="${deed.dateOfDeed}" th:value="${deed.dateOfDeed}">
                        </label>
                    </div>

                    <div class="form-group">
                        <label>Today's Date:
                            <input class="form-control" type="date" th:field="${deed.dateToday}" th:value="${deed.dateToday}">
                        </label>
                    </div>

                    <div class="form-group">
                        <label>Upload Document:
                            <input type="file" th:field="${deed.file}" th:value="${deed.file}">
                        </label>
                    </div>

                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </section>


    <script async th:src="'https://maps.googleapis.com/maps/api/js?key=' + ${placesApiKey} + '&libraries=places&callback=auto'"></script>

</body>
</html>