<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<nav th:replace="fragments :: navbar"></nav>
<header th:replace="fragments :: header"></header>

<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>After the US Civil War, racist practices mutated and adapted to continue to restrict African-American livelihoods.</h2>
                <p class="lead">Racially-restrictive deeds were common-place for every type of real-estate transactions, and they prevented individuals of specified races from buying certain properties and living in certain communities. Many restrictions stated that the "premises shall not at any time be conveyed, mortgaged, or leased to any person or persons of Chinese, Japanese, Moorish, Turkish, Negro, Mongolian, or African blood or descent" and were most commonly used to prevent African-Americans owning property. This segregationist tactic limited education options and significantly hampered generational wealth acquisition. Racially-restrictive deed covenants were a critical tool used to promote segregation across the United States in the twentieth century and, unfortunately, they are still on many real estate deeds today.</p>
                <p class="lead">This segregationist tactic limited education options and significantly hampered generational wealth acquisition. Racially-restrictive deed covenants were a critical tool used to promote segregation across the United States in the twentieth century and, unfortunately, they are still on many real estate deeds today.</p>
                <p class="lead">In 2022, Atlanta has homes with racially-restrictive deeds. Removing the restrictions will help address the generational harm done to African-Americans by these racist practices and position Atlanta in a better place to move forward in community.</p>
            </div>
        </div>
    </div>
</section>


<span th:replace="fragments :: requiredBootstrapCode"></span>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>