<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
  <nav th:replace="fragments :: navbar"></nav>
  <header th:replace="fragments :: header"></header>

  <section class="py-5">
    <div class="container my-5">
      <div class="row justify-content-center">
        <div class="col-lg-6">

          <h2>Resources to Remove Covenants</h2>
          <a href="https://www.findlaw.com/legalblogs/law-and-life/how-to-remove-a-racially-restrictive-housing-covenant/" class="lead">Starting How-To Guide</a><br>
          <a href="https://mappingprejudice.umn.edu/what-are-covenants/" class="lead">Mapping Prejudice Project</a><br>
        </div>
      </div>
    </div>
  </section>

  <div class="container">

    <h1 class="my-4">Resources Regarding Racial Covenants</h1>

    <div class="row">
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card h-100">
          <a href="https://www.findlaw.com/legalblogs/law-and-life/how-to-remove-a-racially-restrictive-housing-covenant/"><img class="card-img-top" src="https://via.placeholder.com/700x400" alt="FindLaw Article"></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://www.findlaw.com/legalblogs/law-and-life/how-to-remove-a-racially-restrictive-housing-covenant/">Begin Legal Action</a>
            </h4>
            <p class="card-text">This article provides a starting framework to understand how to remove a racial covenant.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card h-100">
          <a href="https://mappingprejudice.umn.edu/what-are-covenants/"><img class="card-img-top" src="https://via.placeholder.com/700x400" alt="Mapping Prejudice Project"></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://mappingprejudice.umn.edu/what-are-covenants/">Mapping Prejudice Project</a>
            </h4>
            <p class="card-text">The Mapping Prejudice Project, based at the University of Minnesota, endeavors to bring awareness to the reality of racial covenants and to map their existence in the US.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card h-100">
          <a href="https://www.splcenter.org/"><img class="card-img-top" src="https://via.placeholder.com/700x400" alt="Southern Poverty Law Center"></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://www.splcenter.org/">Southern Poverty Law Center</a>
            </h4>
            <p class="card-text">The Southern Poverty Law Center works for systemic reforms on behalf of victims of bigotry and discrimination.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <span th:replace="fragments :: requiredBootstrapCode"></span>
  <footer th:replace="fragments :: footer"></footer>
</body>
</html>